<div class="row">
    <div class="col-sm-2 bg-primary h-100 hidden-xs-down">
        
    </div>
    <div class="col-sm-8">
        <div class="container">
            <hr class="my-2">
            <password-field ref="$ctrl.password"></password-field>
            <hr class="my-2">
            <div uib-collapse="!$ctrl.password">
                <div class="btn btn-secondary" ng-click="$ctrl.usePassword()">Submit</div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 bg-primary h-100 hidden-xs-down">
        
    </div>
</div>