<div class="row">
    <div class="col-md-7">
        <label>Password:</label>
        <div class="input-group">
            <input type="password" class="form-control" ng-model="$ctrl.input" ng-change="$ctrl.validate()">
        </div>
        <hr>
        <div uib-collapse="!$ctrl.showConfirm">
            <label>Confirm:</label>
            <div class="input-group">
                <input type="password" class="form-control" ng-model="$ctrl.confirm" ng-change="$ctrl.validate()">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <br class="visible-xs-down">
        <label class="text-muted">Requirements:</label>
        <ul class="fa-ul">
            <li ng-repeat="validator in $ctrl.validators" ng-class="'text-' + (validator.state ? 'success' : 'danger')">
                <span ng-class="'fa fa-li fa-' + (validator.state ? 'check' : 'times') + '-circle-o'" style="padding-top:2px"></span>
                <span ng-bind="validator.name"></span>
            </li>
        </ul>
    </div>
</div>